.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  margin-bottom: 0;
}

.custom-jumbotron {
  background-color: #e2e5e8; /* Light gray background */
  padding: 50px; /* Add padding around the content */
}

.jumbotron-title {
  font-size: 4rem; /* Larger font size for the title */
  font-weight: bold; /* Make the title bold */
  margin: 0; /* Remove default margins */
}

.jumbotron-subtitle {
  font-size: 1.5rem; /* Larger font size for the subtitle */
  color: #6c757d; /* Muted text color */
  margin-top: 10px; /* Add space between the title and subtitle */
}

